
@media screen and (min-width: 60em) {
  header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    display: flex; 
  }

  header li {
    margin: 0; 
  }

  header a {
    border: 0;
  }

  main {
  display: grid; 
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  margin-top: 20px;
  }

  .cards {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
```